@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Inter:wght@200;400&family=Istok+Web&family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Inter:wght@200;400&family=Istok+Web&family=Kiwi+Maru&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Inter:wght@200;400&family=Kiwi+Maru&display=swap");
.about-me-div {
  display: inline-block;
  background: #252424;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.about-me-heading {
  color: #fff;
  font-family: "Istok Web", sans-serif;
  font-size: 41px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  padding-left: 180px;
  padding-top: 20px;
}

.about-me-description {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
  padding-left: 180px;
  padding-top: 20px;
  max-width: 50%;
  display: inline;
  margin: 0px;
  float: left;
  word-spacing: 1px;
  line-height: 30px;
}

.about-me-button {
  color: black;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16.255px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 190px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
  background: whitesmoke;
  transition: 0.4s;
}

.about-me-button:hover {
  background-color: #6bc78a;
  color: black;
}

.about-me-photo {
  background-repeat: no-repeat;
  height: 31.25rem;
  margin-left: 6rem;
}
