.portfolio-body {
  width: auto;
  background: #f0ecec;
  display: flex;
  flex-wrap: wrap;
  padding-left: 180px;
  padding-top: 2rem;
  column-gap: 50px;
  padding-bottom: 100px;
}

.portfolio-heading {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  transition: 0.4s;
  border-radius: 10px;
  text-align: left;
  padding-left: 180px;
  padding-top: 2rem;
}
